/* --- Hero Section --- */
.hero {
  padding: 100px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.hero h1 {
  font-family: var(--header-font);
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.hero p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto 30px auto;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 100%;
  height: 100%;
  background-image: url('/assets/index-img.jpg');
  background-position: center;
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}

.hero h1, .hero p {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}